.container-footer{
    max-width: 1170px;
    margin: auto;
  }
  
  .footer{
    background-color: #000000;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #03eeda;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col p:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col p a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col p a:hover{
    color: #03eeda;
    padding-left: 8px;
  }
  
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #03eeda;
  }
  
  .no-click{
    cursor: unset;
  }
  
  @media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
  }
  
  @media(max-width: 576px){
    .footer-col{
        width: 100%;
    }
  }
  
  @media (max-width: 600px) {
    .company{
        width: 205px;
        height: 110px;             
    }
  }
  
  @media (max-width: 375px) {
    .company{
        width: 170px;
        height: 90px;             
    }
  }