.u-text-default {
  display: table;
  align-self: flex-start;
}

.u-text-default:empty {
  display: block;
  width: 15px;
}

.u-image{
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

img.u-image,
.u-video-poster {
  overflow: hidden;
}

section.u-image:not(.u-hover-box),
.u-sheet.u-image:not(.u-hover-box),
.u-group.u-image:not(.u-hover-box),
.u-layout-cell.u-image:not(.u-hover-box) {
  overflow: visible;
}

.u-text .u-image {
  display: inline-block;
}

.u-sheet {
  position: relative;
  margin: 0 auto;
}

.u-xl-mode .u-sheet {
  width: var(--theme-sheet-width-xl);
}

.u-xxl-mode .u-sheet {
  width: var(--theme-sheet-width-xxl);
}

@media (min-width: 1400px) {
  .u-sheet {
    width: var(--theme-sheet-width-xxl) !important;
  }
}

@media (min-width: 1200px) {
  .u-xl-mode .u-sheet {
    width: var(--theme-sheet-width-xl) !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-sheet {
    width: var(--theme-sheet-width-xl) !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-sheet {
    width: var(--theme-sheet-width-lg) !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-sheet {
    width: var(--theme-sheet-width-md) !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .u-sheet {
    width: var(--theme-sheet-width-sm) !important;
  }
}

@media (max-width: 575px) {
  .u-sheet {
    width: var(--theme-sheet-width-xs) !important;
  }
}

.u-sheet .u-sheet {
  width: 100%;
}

.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
  transition-duration: inherit;
}

.u-inner-container-layout,
.u-container-layout > * {
  position: relative;
}


.u-expanded-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 1400px) {
  .u-expanded-width-xxl {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 1200px) {
  .u-xl-mode .u-expanded-width-xl {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-expanded-width-xl {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-expanded-width-lg {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-expanded-width-md {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .u-expanded-width-sm {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 575px) {
  .u-expanded-width-xs {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}


.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1400px) {
  .u-valign-middle-xxl,
  .u-valign-top-xxl,
  .u-valign-bottom-xxl {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .u-xl-mode .u-valign-middle-xl,
  .u-xl-mode .u-valign-top-xl,
  .u-xl-mode .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-middle-xl,
  .u-xxl-mode .u-valign-top-xl,
  .u-xxl-mode .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-middle-lg,
  .u-valign-top-lg,
  .u-valign-bottom-lg {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-middle-md,
  .u-valign-top-md,
  .u-valign-bottom-md {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-middle-sm,
  .u-valign-top-sm,
  .u-valign-bottom-sm {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .u-valign-middle-xs,
  .u-valign-top-xs,
  .u-valign-bottom-xs {
    display: flex;
    flex-direction: column;
  }
}

.u-valign-middle > *,
.u-valign-top > *,
.u-valign-bottom > * {
  flex-shrink: 0;
}

.u-valign-middle {
  justify-content: center;
}

@media (min-width: 1400px) {
  .u-valign-middle-xxl {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .u-xl-mode .u-valign-middle-xl {
    justify-content: center;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-middle-xl {
    justify-content: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-middle-lg {
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-middle-md {
    justify-content: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-middle-sm {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .u-valign-middle-xs {
    justify-content: center;
  }
}

.u-svg-link {
width: 100%;
height: 100%;
fill: currentColor;
}
.u-svg-content {
width: 0;
height: 0;
}

.u-align-center {
text-align: center;
}
@media (min-width: 1400px) {
.u-align-center-xxl {
text-align: center;
}
}
@media (min-width: 1200px) {
.u-xl-mode .u-align-center-xl {
text-align: center;
}
}
@media (min-width: 1200px) and (max-width: 1399px) {
.u-xxl-mode .u-align-center-xl {
text-align: center;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.u-align-center-lg {
text-align: center;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.u-align-center-md {
text-align: center;
}
}
@media (min-width: 576px) and (max-width: 767px) {
.u-align-center-sm {
text-align: center;
}
}
@media (max-width: 575px) {
.u-align-center-xs {
text-align: center;
}
}

.u-layout-carousel.u-gallery.u-product-zoom .u-back-slide img,
.u-layout-thumbnails.u-gallery.u-product-zoom .u-back-slide img {
min-width: 120%;
min-height: 120%;
height: auto;
width: auto;
opacity: 0;
transition: opacity .5s;
pointer-events: none;
}
.u-repeater {
display: grid;
grid-template-columns: repeat(3, 33.33333333%);
}
.u-repeater-item {
display: flex;
position: relative;
}

@media (max-width: 767px) {
.u-table-responsive {
overflow-x: auto;
overflow-y: hidden;
}
.u-table-responsive thead th,
.u-table-responsive tfoot th,
.u-table-responsive thead td,
.u-table-responsive tfoot td {
white-space: nowrap;
}
}
.u-custom-list {
list-style-type: none;
padding-left: 0;
}
.u-custom-list li {
position: relative;
margin-left: 1.4em;
}
.u-custom-list .u-list-icon {
display: inline-block;
position: absolute;
width: 1em;
min-height: 1em;
height: auto;
left: -1.5em;
fill: currentColor;
text-align: center;
}
.u-custom-list .u-list-icon > :first-child {
display: inline-block;
position: relative;
margin: -0.8em;
font-size: 0.8em;
width: 1em;
height: 1em;
vertical-align: middle;
line-height: 0.9;
}
.u-tabs {
display: flex;
flex-direction: column;
}
.u-tabs .u-tab-list {
display: flex;
flex-wrap: wrap;
list-style: none;
padding: 0;
border-top: none;
border-left: none;
border-right: none;
margin: 0 0 -5px;
}
.u-tabs .u-tab-item {
margin-bottom: 5px;
}
.u-tabs .u-tab-link {
display: block;
padding: 10px 20px;
color: inherit;
border-color: transparent;
}
.u-tabs .u-tab-pane {
position: relative;
}
.u-tabs .u-tab-content {
display: flex;
flex-direction: column;
flex: 1;
}
.u-tabs .u-tab-content > .u-tab-pane {
flex: 1;
display: none;
}
.u-tabs .u-tab-content > .u-tab-active {
display: flex;
}
.u-tabs.u-tab-links-align-left .u-tab-list {
justify-content: flex-start;
}
.u-tabs.u-tab-links-align-center .u-tab-list {
justify-content: center;
}

.u-white,
.u-body.u-white,
.u-white > .u-container-layout:before,
.u-container-style.u-white:before,
.u-container-layout.u-container-layout.u-white:before,
.u-table-alt-white tr:nth-child(even) {
color: #111111;
background-color: #ffffff;
}

.u-grey-10,
.u-body.u-grey-10,
.u-grey-10 > .u-container-layout:before,
.u-container-style.u-grey-10:before,
.u-container-layout.u-container-layout.u-grey-10:before,
.u-table-alt-grey-10 tr:nth-child(even) {
color: #111111;
background-color: #dddddd;
}

.u-body
{
--theme-sheet-width-xl: 1140px;
--theme-sheet-width-lg: 940px;
--theme-sheet-width-md: 720px;
--theme-sheet-width-sm: 540px;
--theme-sheet-width-xs: 340px;
}

 html { font-size: 16px; }